* {
    margin: 0;
    padding: 0;
}

.wefdc {
    width: 60%;
    mix-blend-mode: darken;
}


.mopan {

    position: absolute;
    bottom: 0;
    right: 0;
}



/* ............................................................. */


.sdgh{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(./assest/DeskP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.cdsc{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 33.33%;
    height: 100%;

}
.hscsjsdc{
    width: 33.33%;
    height: 100%;
}
.uhde{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cftn {
    padding: 3%;
    background: transparent;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px  3px gray;
    outline: none;
}

.bthsv {
    margin: 20px;

}

.qasx {
    padding: 11px 34px;
    border-radius: 14px;
    border: none;
    background-color:#e10202ad;
    color: white;
    font-weight: 700;
}

.dfhgcdg {
    margin-left: 3%;
    font-weight: 600;
}


.denaSF {
    padding-bottom: 10vh;
} 

.bhjil {
    margin-left: 2%;
    font-family: ui-rounded;
}

/* ....................................................... */
/* form css  */

.ysxed{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px    ;
}
.bthsv{
    width: 90%;
    justify-content: center;
    display: flex;

}
.jisw{
    width: 100%;
}
.iwjs{
  
    width: 80%;
    background-color: #928c8c6b;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 26px;
    
}
.uedd{
    text-align: center;
    color: rgb(12 92 155);
    padding-top: 3%;
    font-weight: 900;
    font-family: system-ui;
}
.xsxshd{
    display: none;
}

/* .dsdfa{

display: none;
} */


.wefdssxc{
display: none;
}
/* mobile view  */

@media only screen and (min-width: 100px) and (max-width: 450px) {
.cdsc{
    width: 100%;
    /* height: 33.33vh; */
    justify-content: center;
}
    .sdgh{
        flex-direction: column;
    }

    .xsxshd{
        display: flex;
        justify-content: center;
    }

    .dsdfa{
        display: none;
        
    }

    .uhde{
        width: 100%;
        height:max-content
    }
    .denaSF {
        padding: 0;
    }

    .eqwed{
        display: none;
    }

    .jshdsd{
        display: flex;
        justify-content: center;
    }
    .qegpx{
        display: none;
    }
    .dsdfaaa{
        display: flex;
        justify-content: left;
    }
    .wefdssxc {
        width: 100%;
    }

.hscsjsdc{
    width: 100%;
    /* height: ; */
}

}
  